.card-link {
  text-decoration: none;
}

.card-link:hover > h3,
.card-link:focus > h3 {
  color: #0da8e4 !important;
}

.card-link:focus {
  outline: 3px solid #0da8e4 !important;
  outline-offset: 6px !important;
}

.card-title {
  height: 7ch;
  overflow: hidden;
}
