<div class="main-content">
  <div class="section-content section-content-p30">
    <h4
      *ngIf="
        currentCategoryName != '' && !currentCategoryName.includes('Search')
      "
    >
      Category: {{ currentCategoryName.replace("-", " ") }}
    </h4>
    <h4 *ngIf="currentCategoryName.includes('Search')">
      {{ currentCategoryName }}
    </h4>
    <h4 *ngIf="currentCategoryName == ''">All Products</h4>
    <hr />
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products -->
        <div class="col-md-3" *ngFor="let tempProduct of products">
          <div class="product-box">
            <a routerLink="/products/{{ tempProduct?.id }}">
              <img
                src="{{ tempProduct.imageUrl }}"
                alt="{{ tempProduct.name }}"
                class="img-responsive"
              />
            </a>

            <a routerLink="/products/{{ tempProduct?.id }}">
              <h1>{{ tempProduct.name }}</h1>
            </a>

            <div class="price">
              {{ tempProduct.unitPrice | currency : "USD" }}
            </div>

            <a href="#" class="primary-btn" style="text-decoration: none">
              Add to cart
            </a>
          </div>
        </div>
      </div>

      <!-- if products are not found display a message -->
      <div
        class="alert alert-warning"
        *ngIf="products?.length == 0"
        role="alert"
      >
        No products found!
      </div>
      <div class="flex-to-right">
        <div class="footer-pagination">
          <ngb-pagination
            [(page)]="thePageNumber"
            [pageSize]="thePageSize"
            [collectionSize]="theTotalElements"
            (pageChange)="listProducts()"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
